:root {
    --slate-blue: #375275;
  }
  
  body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f8f1e8;
    color: var(--slate-blue);
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
  }
  h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #fff;
    padding: 0;
    margin: 0;
  }
  h2 {
    font-size: 3rem;
    font-weight: 2rem;
    color: var(--slate-blue);
    padding: 0;
    margin: 0;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--slate-blue);
    padding: 0;
    margin: 0;
}
h4 {
    font-size: 4rem;
    font-weight: bold;
    color: #7CA5B8;
    padding: 0;
    margin: 0;
}
  p {
    font-family: 'Inter', sans-serif;
    word-spacing: 1px;
    line-height: 1.5;
    font-size: 1.6vh;
  }
  
  .landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .landing h1 {
    font-size: 4rem;
    margin: 0;
  }
  
  .landing h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0 1rem;
  }
  
  .scroll-down {
    padding: 10px 20px;
    background-color: var(--slate-blue);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .book-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    background-color: #f8f1e8;
  }

  .center {
    justify-content: center;
  }
  
  .shift-right {
    justify-content: center;
    transform: translateX(15vw)
  }
  
  .book {
    width: 35vw;
    height: 45vw;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
  }

/* title page  */
  .page.title {
    background: var(--slate-blue); 
    color: rgb(211, 211, 211); 
  }
  .page.title .front {
    display: flex; 
    flex-direction: column;
    background: var(--slate-blue);
    color: rgb(211, 211, 211); 
    width: 90%;
    height: 90%;
    text-align: center;
    justify-content: center;
  }
  .page.title .back {
    display: flex; 
    flex-direction: column;
    background: var(--slate-blue);
    color: rgb(211, 211, 211); 
    width: 90%;
    height: 90%;
    text-align: center;
    justify-content: center;
  }

  .page.title .front .authortext p{
    font-size: 1rem;
    color: #c4c4c4;
    position: relative;
    transform: translateY(20vh);
  }

  .page.title .back{
    background: var(--slate-blue); 
}
  
  
/* chapter page */
  .page.chapter-start .front {
    display: flex; 
    flex-direction: column;
    width: 90%;
    height: 90%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .page.chapter-start .front img{
    max-height: 50vh;
    max-width: 20vw;
  }

/* Regular Pages */
  .page {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    border: 2px solid var(--slate-blue);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform-origin: left center;
    transform: rotateY(0deg);
    transition: transform 0.6s ease;
  }
  
  .page .front {
    position: absolute;
    background: #fff;
    color: #333;
    padding: 20px;
    visibility: visible; 
  }
  .page .back {
    position: relative;
    background: #fff;
    color: #333;
    visibility: hidden;
    padding: 20px;
    transform: rotateY(180deg); 
  }
  
  .page.flipped {
    transform: rotateY(-180deg);
  }

  .page.flipped .front {
    visibility: hidden; 
  }
  
  .page.flipped .back {
    visibility: visible;
  }
  

  .book-container.center {
    justify-content: center;
  }
  
  .book-container.shift-left {
    justify-content: flex-start;
  }

.content {
    display: grid;
    grid-template-columns: 1fr 4fr; 
    height: 100vh;
    overflow: hidden; 
}

/* Sidebar styles */
.sidebar {
    /* visibility: hidden; */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
}
.sidebar h3{
    padding: 20px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    color: var(--slate-blue);
}

.sidebar li:hover {
    background: #bbb;
}
